{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static '/css/college.css' %}" />
  <style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  </style>
  <title>IIT Roorkee</title>
</head>

<body>
  {% include 'college_app/navbar.html' %}

  <!-- Page content-->
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <!-- Post content-->
        <article>
          <!-- Post header-->
          <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">
              Indian Institute of Technology - Roorkee
            </h1>
            <!-- Post meta content-->
            <a style="width: 30px; height: 30px" class="icon" href="https://www.google.com/maps/place/Indian+Institute+of+Technology+Roorkee/@29.864879,77.8942696,17z/data=!3m1!4b1!4m5!3m4!1s0x390eb3650bfe37a7:0xa9d19b15af050467!8m2!3d29.8648744!4d77.8964583">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">
                <path
                  fill="#d22f27"
                  d="m 52.5733 29.11 c 0 -9.3149 -7.1338 -16.8923 -15.9034 -16.8923 s -15.9034 7.5773 -15.9034 16.8963 c 0.0027 0.4653 0.2238 11.6088 12.9612 31.2452 a 3.4626 3.4626 0 0 0 2.8174 1.9343 c 1.8394 0 3.0941 -2.0266 3.2162 -2.2327 c 12.8187 -19.6473 12.8187 -30.5074 12.812 -30.9508 Z m -15.9033 6.8035 a 7.0826 7.0826 0 1 1 7.0826 -7.0826 a 7.0907 7.0907 0 0 1 -7.0826 7.0826 Z"
                />
                <path
                  fill="#ea5a47"
                  d="m 52.5733 29.11 c 0 -9.3149 -7.1338 -16.8923 -15.9034 -16.8923 a 14.96 14.96 0 0 0 -3.8645 0.5254 c 8.3948 0.4493 15.0989 7.8225 15.0989 16.849 c 0.0068 0.4436 0.0068 11.3036 -12.812 30.9509 a 5.8543 5.8543 0 0 1 -0.5865 0.7972 a 2.8549 2.8549 0 0 0 2.0393 0.9534 c 1.8394 0 3.0941 -2.0266 3.2162 -2.2327 c 12.8187 -19.6474 12.8187 -30.5075 12.812 -30.9509 Z"
                />
                <g
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                >
                  <path
                    d="m 36.5451 62.2935 a 3.4628 3.4628 0 0 1 -2.8174 -1.9343 c -12.7377 -19.6364 -12.9585 -30.7799 -12.9612 -31.2452 c 0 -9.3191 7.1337 -16.8964 15.9034 -16.8964 s 15.9034 7.5773 15.9034 16.8924 c 0.0068 0.4436 0.0068 11.3036 -12.812 30.9509 c -0.1221 0.206 -1.3768 2.2326 -3.2162 2.2326 Z"
                  />
                  <path
                    d="m 36.67 35.9135 a 7.0826 7.0826 0 1 1 7.0827 -7.0826 a 7.0906 7.0906 0 0 1 -7.0827 7.0826 Z"
                  />
                </g>
              </svg>
            </a>
            <!-- Post meta content-->
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">
              <div>
                University located in Roorkee, India
              </div>
            </a>
          </header>
          <!-- Preview image figure-->
          <figure class="mb-4">
            <img class="img-fluid rounded" src="{% static '/images/iit roorkee.jpg' %}" alt="..." />
          </figure>
          <!-- Post content-->
          <section class="mb-5">
            <p class="fs-5 mb-4">
              Indian Institute of Technology - Roorkee is among the foremost of institutes of national importance in
              higher technological education and in engineering, basic and applied research. Since its establishment,
              the Institute has played a vital role in providing the technical manpower and know-how to the country and
              in pursuit of research. The Institute ranks amongst the best technological institutions in the world and
              has contributed to all sectors of technological development. It has also been considered a trend-setter in
              the area of education and research in the field of science, technology, and engineering.

            </p>
            <p class="fs-5 mb-4">
              The Institute had celebrated its Sesquicentennial in October 1996 and now completed more than 170 years of
              its existence. It was converted to IIT on September 21, 2001 by an Ordinance issued by the Government of
              India declared it as the nation’s seventh Indian Institute of Technology, an “Institution of National
              Importance”.
            </p>
            <p class="fs-5 mb-4">
              The Institute offers Bachelor's Degree courses in 10 disciplines of Engineering and Architecture and
              Postgraduate's Degree in 55 disciplines of Engineering, Applied Science, Architecture and planning. The
              Institute has facility for doctoral work in all Departments and Research Centres.
            </p>
            <h2 class="fw-bolder mb-4 mt-5">Placements</h2>
            <p class="fs-5 mb-4">
              IIT Roorkee has conducted its day 1 placements for the batch 2022 and the Highest CTC offered till now
              stood at INR 2.15 CPA and 35 companies made 437 offers including 219 Pre-placement offers.
            </p>
            <p class="fs-5 mb-4">
              A total of 265 companies have booked a slot for IIT Roorkee campus placements this December, which
              includes some of the major tech companies of India as well as abroad. The students had already bagged 214
              pre-placement offers so far, bypassing last year’s total PPOs of 140. The Highest CTC stood at INR 69.5
              LPA

              Out of 265 recruiters, 25 of them- Alphonso, Amazon, Analog Devices, AppDynamics India Pvt. Ltd., Bajaj
              Auto Ltd., Codenation, Cohesity, Flipkart, Goldman Sachs, Intel Technology Pvt. Ltd., Jaguar Land Rover,
              JPMorgan Chase & Co., Micron Technologies Operations India LLP, Microsoft, Oracle, Qualcomm India Pvt.
              Ltd. visited the campus on December 1, 2020.
            </p>
            <h2 class="fw-bolder mb-4 mt-5">Fee Structure</h2>
            <p class="fs-5 mb-4">
              IIT Roorkee is the 7th institution established among the IIT institutions and has now completed 170 years
              of existence. The institute is ranked 400 in the QS World University Rankings 2022. IIT Roorkee is also
              ranked 1 for its Architecture program by IndiaToday 2021 rankings for Best Colleges. Earlier, the
              institute was ranked 1 among all IITs for Citations per Faculty and International Students parameter in
              the QS World University Ranking 2020.

              M.Tech in Computer Science and Engineering (CSE) is the most popular course at IIT Roorkee. Admissions
              into the course are done on the basis of GATE scores. The cutoff for the same at IIT Roorkee was 844 for
              the general category in the year 2020. IIT Roorkee M.Tech fee is INR 30,500 for the first year.
            </p>
            <p class="fs-5 mb-4">
              IIT Roorkee - Indian Institute Of Technology - [IITR] Fees & Eligibility
            </p>
            <figure class="mb-4">
              <img class="img-fluid rounded" src="{% static '/images/fee_iit roorkee.png' %}" alt="..." />
            </figure>
            <div class="embed-responsive embed-responsive-4by3">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/2JWF-H5tHVo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </section>
        </article>
        <h2 class="fw-bolder mb-4 mt-5">Want To Know More ?</h2>
              <p class="fs-5 mb-4">
                <a href="https://new.iitr.ac.in/Main/pages/_en_Indian_Institute_of_Technology_Roorkee__en_.html" class="badge bg-secondary text-decoration-none link-light" target="_blank">Visit The Official Website</a>
              </p>
        <!-- Comments section-->
        <section class="mb-5"></section>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
        <!-- Search widget-->
        <!-- <div class="card mb-4">
          <div class="card-header">Search</div>
          <div class="card-body">
            <div class="input-group">
              <input
                class="form-control"
                type="text"
                placeholder="Enter search term..."
                aria-label="Enter search term..."
                aria-describedby="button-search"
              />
              <button
                class="btn btn-primary"
                id="button-search"
                type="button"
              >
                Go!
              </button>
            </div>
          </div>
        </div> -->
        <!-- Categories widget-->
        <div class="card mb-4">
          <div class="card-header">Categories</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a
                      class="
                        badge
                        bg-secondary
                        text-decoration-none
                        link-light
                      "
                      href="#!"
                      >B-tech</a
                    >
                  </li>
                  <li>
                    <a
                      class="
                        badge
                        bg-secondary
                        text-decoration-none
                        link-light
                      "
                      href="#!"
                      >Engineering</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a
                      class="
                        badge
                        bg-secondary
                        text-decoration-none
                        link-light
                      "
                      href="#!"
                      >IIT</a
                    >
                  </li>
                  <li>
                    <a
                      class="
                        badge
                        bg-secondary
                        text-decoration-none
                        link-light
                      "
                      href="#!"
                      >M-tech</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Side widget-->
        <!-- <div class="card mb-4">
          <div class="card-header">Side Widget</div>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They
            are easy to use, and feature the Bootstrap 5 card component!
          </div>
        </div> -->
        <div class="card mb-4">
          <!-- <div class="card-header">Placements</div>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They
            are easy to use, and feature the Bootstrap 5 card component!
          </div> -->
          <div class="card">
            <div class="card-header">
              <span class="jsx-626553351 icon mr-4"
                ><svg
                  viewBox="0 -31 512 512"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M497.094 60.004c-.031 0-.063-.004-.094-.004H361V45c0-24.813-20.188-45-45-45H196c-24.813 0-45 20.188-45 45v15H15C6.648 60 0 66.844 0 75v330c0 24.813 20.188 45 45 45h422c24.813 0 45-20.188 45-45V75.316v-.058c-.574-9.852-6.633-15.2-14.906-15.254zM181 45c0-8.27 6.73-15 15-15h120c8.27 0 15 6.73 15 15v15H181zm295.188 45l-46.583 139.742A14.975 14.975 0 01415.38 240H331v-15c0-8.285-6.715-15-15-15H196c-8.285 0-15 6.715-15 15v15H96.621a14.975 14.975 0 01-14.226-10.258L35.813 90zM301 240v30h-90v-30zm181 165c0 8.27-6.73 15-15 15H45c-8.27 0-15-6.73-15-15V167.434l23.934 71.796A44.935 44.935 0 0096.62 270H181v15c0 8.285 6.715 15 15 15h120c8.285 0 15-6.715 15-15v-15h84.379a44.935 44.935 0 0042.687-30.77L482 167.434zm0 0"
                  ></path>
                </svg>
              </span>
              Placements
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div
                  class="
                    jsx-2872610573 jsx-3951915900
                    body-row
                    bg-white
                    px-3
                    py-2
                  "
                >
                  <span
                    class="
                      jsx-2872610573 jsx-3951915900
                      pack
                      common_title
                      d-block
                    "
                    ><span class="jsx-2872610573 jsx-3951915900 icon"
                      ><svg
                        width="12"
                        height="15"
                        viewBox="0 0 13 21"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.43 10.477v7.213l3.92-3.92c.306-.309.78-.309 1.058 0 .309.277.309.752 0 1.058l-5.175 5.175a.727.727 0 01-.548.196.73.73 0 01-.55-.196L.962 14.828c-.308-.306-.308-.78 0-1.058.277-.309.751-.309 1.058 0l3.92 3.92V3.263l-3.92 3.92c-.306.309-.78.309-1.058 0-.308-.276-.308-.752 0-1.058L6.136.95a.727.727 0 01.549-.196.73.73 0 01.548.196l5.175 5.175c.309.306.309.78 0 1.059-.277.308-.751.308-1.058 0l-3.92-3.92v7.213z"
                          stroke="transparent"
                        ></path>
                      </svg>
                    </span>
                    Highest Package</span
                  ><span
                    class="
                      jsx-2872610573 jsx-3951915900
                      value
                      font-weight-bold
                      text-uppercase text-lg text-success
                      d-flex
                      align-items-center
                    "
                    ><span class="jsx-2872610573 jsx-3951915900 icon"
                      ><svg
                        width="15"
                        height="17"
                        viewBox="0 0 4 6"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M.532 1.356l-.14.434h1.771a.75.75 0 01-.294.448c-.224.154-.56.238-1.001.238H.441v.511c.168 0 .322.049.462.14.119.084.238.203.357.364L2.513 5.15h1.036L2.051 3.253a3.533 3.533 0 00-.329-.378c.371-.077.672-.224.896-.448.168-.175.266-.385.308-.637h.749l.147-.434H2.94a1.462 1.462 0 00-.308-.77h1.043l.14-.434H.525L.378.586h.728c.35 0 .616.077.798.238a.833.833 0 01.273.532H.532z"
                          fill-rule="evenodd"
                        ></path>
                      </svg>
                    </span>
                    8,000,000</span
                  >
                </div>
              </li>
              <li class="list-group-item">
                <div
                  class="
                    jsx-2872610573 jsx-3951915900
                    body-row
                    bg-white
                    px-3
                    py-2
                  "
                >
                  <span
                    class="
                      jsx-2872610573 jsx-3951915900
                      pack
                      common_title
                      d-block
                    "
                    ><span class="jsx-2872610573 jsx-3951915900 icon"
                      ><svg
                        width="12"
                        height="15"
                        viewBox="0 0 13 21"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.43 10.477v7.213l3.92-3.92c.306-.309.78-.309 1.058 0 .309.277.309.752 0 1.058l-5.175 5.175a.727.727 0 01-.548.196.73.73 0 01-.55-.196L.962 14.828c-.308-.306-.308-.78 0-1.058.277-.309.751-.309 1.058 0l3.92 3.92V3.263l-3.92 3.92c-.306.309-.78.309-1.058 0-.308-.276-.308-.752 0-1.058L6.136.95a.727.727 0 01.549-.196.73.73 0 01.548.196l5.175 5.175c.309.306.309.78 0 1.059-.277.308-.751.308-1.058 0l-3.92-3.92v7.213z"
                          stroke="transparent"
                        ></path>
                      </svg>
                    </span>
                    Average Package</span
                  ><span
                    class="
                      jsx-2872610573 jsx-3951915900
                      value
                      font-weight-bold
                      text-uppercase text-lg text-success
                      d-flex
                      align-items-center
                    "
                    ><span class="jsx-2872610573 jsx-3951915900 icon"
                      ><svg
                        width="15"
                        height="17"
                        viewBox="0 0 4 6"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M.532 1.356l-.14.434h1.771a.75.75 0 01-.294.448c-.224.154-.56.238-1.001.238H.441v.511c.168 0 .322.049.462.14.119.084.238.203.357.364L2.513 5.15h1.036L2.051 3.253a3.533 3.533 0 00-.329-.378c.371-.077.672-.224.896-.448.168-.175.266-.385.308-.637h.749l.147-.434H2.94a1.462 1.462 0 00-.308-.77h1.043l.14-.434H.525L.378.586h.728c.35 0 .616.077.798.238a.833.833 0 01.273.532H.532z"
                          fill-rule="evenodd"
                        ></path>
                      </svg>
                    </span>
                    1,540,000</span
                  >
                </div>
              </li>
              <li class="list-group-item">
                <div>
                  <img
                    src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/163766990/original/83ea85715b754146a168b0382793fa7db504115d/mock-coding-interview-for-faang-companies.png"
                    alt="faang companies"
                    class="mw-100"
                  />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer-->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; CollegeGuide 2021</p>
    </div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
</body>

</html>