.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.icon.jsx-626553351 {
  width: 20px;
  height: 20px;
}

.mr-4 {
  margin-right: 1rem;
}

.icon {
  display: inline-block;
  line-height: initial;
  height: 15px;
  width: 15px;
}

.body.jsx-2872610573 .body-row.jsx-2872610573:hover {
  background-color: #f8f8f8;
}

.body.jsx-2872610573 .body-row.jsx-2872610573 {
  border-bottom: solid 1px rgba(0, 0, 0, 0.07);
}

.px-3 {
  padding-left: 0.75rem;
}
.px-3 {
  padding-right: 0.75rem;
}
.py-2 {
  padding-bottom: 0.5rem;
}
.py-2 {
  padding-top: 0.5rem;
}
.flex-wrap {
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
}

.icon1 {
  display: inline-block;
  line-height: initial;
  height: 15px;
  width: 15px;
}
